{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myblog</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap5/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<!--设置底部的外边距-->
<header class="p-3 text-bg-light border-bottom mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'image/logo.png' %}" alt="" height="40">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">首页</a></li>
                <li><a href="#" class="nav-link px-2 text-white">发布博客</a></li>
                <li><a href="#" class="nav-link px-2 text-white">浏览</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">资讯</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="搜索..." aria-label="Search">
            </form>
            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2">登录</button>
                <button type="button" class="btn btn-primary">注册</button>
            </div>
        </div>
    </div>
</header>
<!--设置内边距-->
<main class="container bg-white p-3 rounded">
    <h1>Django详细讲解</h1>
    <hr>
    <div class="mt-2">
        <img src="{% static 'image/girl2.png' %}" class="rounded-circle" width="30" height="30" alt="">
        <span class="ms-2">学习课堂</span>
        <span class="ms-2">于</span>
        <span class="ms-2">2026年1月24日 11:48</span>发布
    </div>
    <hr>
    <div class="py-2">
        这是博客详情
    </div>
    <hr>
    <div class="mt-2">
        <h3>评论（10）</h3>
        <form action="" method="POST">
            <div class="mt-2">
                <input type="text" class="form-control" placeholder="请输入评论">
            </div>
            <div class="text-end mt-2">
                <button type="button" class="btn btn-primary">评论</button>
            </div>
        </form>
    </div>
    <div class="mt-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item mb-2">
                <div class="d-flex justify-content-between text-body-secondary">
                    <div class="user-info">
                        <img src="{% static 'image/girl2.png' %}" class="rounded-circle" width="40" height="40" alt="">
                        <span class="ms-2">勤奋小鸟</span>
                    </div>
                    <div class="create-time" style="line-height: 40px">2026年1月24日 15:22</div>
                </div>
                <div class="mt-2">这是评论内容</div>
            </li>
            <li class="list-group-item mb-2">
                <div class="d-flex justify-content-between text-body-secondary">
                    <div class="user-info">
                        <img src="{% static 'image/girl1.png' %}" class="rounded-circle" width="40" height="40" alt="">
                        <span class="ms-2">快乐小狗</span>
                    </div>
                    <div class="create-time" style="line-height: 40px">2026年1月24日 15:39</div>
                </div>
                <div class="mt-2">对学习很有帮助</div>
            </li>
        </ul>

    </div>

</main>
</body>
</html>