{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myblog</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap5/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap5/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<!--设置底部的外边距-->
<header class="p-3 text-bg-light border-bottom mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'image/logo.png' %}" alt="" height="40">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">首页</a></li>
                <li><a href="#" class="nav-link px-2 text-white">发布博客</a></li>
                <li><a href="#" class="nav-link px-2 text-white">浏览</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">资讯</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="搜索..." aria-label="Search">
            </form>
            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2">登录</button>
                <button type="button" class="btn btn-primary">注册</button>
            </div>
        </div>
    </div>
</header>
<!--设置内边距-->
<main class="container bg-white p-3 rounded">
    <h1>博客列表</h1>
    <!--每一行展示两列-->
    <div class="row row-cols-2 row-gap-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="#">Django基础知识</a>
                </div>
                <div class="card-body" style="height: 100px;">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'image/girl1.png' %}" class="rounded-circle" alt="" style="height: 30px;width: 30px">
                        myblog
                    </div>
                    <div>
                        发布时间：2026年1月24日
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a href="#">Django基础知识</a>
                </div>
                <div class="card-body" style="height: 100px;">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'image/girl1.png' %}" class="rounded-circle" alt="" style="height: 30px;width: 30px">
                        myblog
                    </div>
                    <div>
                        发布时间：2026年1月24日
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
</html>